#battle {
  display: flex;
  padding: 100px;
}

#battle .fighter,
#battle .vs-block {
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#battle .fighter {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#battle .vs-block {
  font-size: 78px;
  font-weight: bold;
  color: darkred;
}

.health-bar__wrapper {
  width: 100%;
  margin: 20px 0 100px;
  border: 1px solid #222;
}

.health-bar {
  background-color:red;
  height: 30px;
  max-width: 100%;
}

.fighter .fighter-name {
  font-size: 48px;
  font-weight: bold;
}

.result-wrapper, .result {
  display: flex;
  justify-content: center;
  align-items: center;
}

.result {
  flex-direction: column;
}

#winner {
  font-size: 32px;
}