#wrapper {
  margin-top: 2rem;
}

#fight-wrapper, #fights {
  width: 70%;
  margin: 2rem auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
}

#fight-wrapper>*:first-child, #fight-wrapper>*:last-child {
  flex: 1;
}

.btn-wrapper {
  margin: 0 1rem;
  display: flex;
  align-items: flex-start;
  padding-top: 1rem;
  justify-content: center;
}

#fights {
  flex-direction: column;
}

#fights  h2 {
  text-align: center;
}

#fights .fight-item {
  flex-direction: column;
}

#fights .fight-log-step {
  font-size: 0.875em;
  font-style: italic;
  padding: 5px 0 5px 10px;
}

#fights .fight-log-step:not(:last-child) {
  border-bottom: 1px solid #ddd;
}